/* your custom css */

.homeContainer .projectTitle,
.indexPage h2 {
  color: rgb(33, 33, 33) !important;
}

.videoSection {
  padding: 20px 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  background: #000;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.introSection {
  padding-bottom: 20px;
}

img.inline {
  display: inline-block;
}

small {
  font-size: smaller;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
