/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: url(/img/hero-image.png);
  background-size: cover;
  color: #ffffff;
  text-shadow: 0px 0px 4px #4caee3;
}

.heroTitle {
  font-size: 2rem;
}

.heroTagline {
  font-size: 1.4rem;
}

a.heroText{
  color: #ffffff;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroTitle {
    font-size: 2.4rem;
  }

  .heroTagline {
    font-size: 1rem;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
