/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: url(https://yt3.googleusercontent.com/fTfxqPxMH5YfbvHpAA664EkRBXSfErR9T2U7Dp0YH3VvvlkOr1oXXM3vDNGPk7iKFCiFh1hi7A=w1707-fcrop64=1,00005a57ffffa5a8-k-c0xffffffff-no-nd-rj);
  background-size: cover;
}

.heroTitle {
  font-size: 2rem;
  color: #ffffff;
}

.heroTagline {
  font-size: 1.4rem;
  color: #ffffff;
}

a.heroText{
  color: #ffffff;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroTitle {
    font-size: 2.4rem;
  }

  .heroTagline {
    font-size: 1rem;
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}
